<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed_1</title>

    <link rel="stylesheet" href="../styles/fixed_1.css">
</head>
<body>
    <header>
        <div class="main">
            <h1>Fixed Header</h1>
        </div>
    </header>
    <section>
        <div class="section_title">
            <div class="section_element">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid molestias ullam, quos amet quia, ab explicabo magnam rerum id facilis sit ipsa in tempore adipisci nam odio nemo laborum enim non numquam aliquam impedit. Id in aperiam soluta, voluptatem quibusdam velit tenetur dolor error excepturi est, eveniet nisi incidunt explicabo praesentium pariatur delectus aspernatur temporibus accusantium, consequuntur autem? Sunt ab totam sapiente suscipit iusto fugiat placeat cupiditate nostrum pariatur.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores maiores aut repellendus exercitationem distinctio fugit. Sapiente earum labore iste molestiae reprehenderit vel magnam doloremque velit qui, suscipit quos tempora quaerat eius aut tenetur soluta, explicabo facilis deleniti omnis dolores aspernatur cumque. Dignissimos culpa vel doloribus quidem, quaerat a iusto reiciendis quam minus necessitatibus quibusdam animi voluptate laudantium aliquam voluptatum ad et ullam. Rerum delectus perspiciatis labore placeat laudantium eum laboriosam voluptatibus repudiandae doloremque quod, deserunt unde nulla illum voluptates hic?
                <br><br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vitae odit, ullam impedit minus sint culpa facilis. Ullam adipisci eos incidunt repudiandae qui, quo aperiam ratione odio nemo sed! Odit fuga doloribus ab numquam temporibus saepe provident optio quod ad velit quo pariatur nemo, cumque assumenda eaque architecto fugit iure odio unde sint. Ducimus harum quam modi tempora eius eveniet labore, aliquid ipsa ullam dicta placeat officiis. Accusamus eveniet porro explicabo, expedita quod ad voluptas.
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates temporibus sequi commodi, debitis sunt natus unde cumque saepe ut repellat, expedita ex corporis architecto quidem, esse hic quia nemo ipsam facere sed deserunt soluta consequatur? Consequatur voluptates, dolores repellendus sint possimus reprehenderit, totam nam tenetur cumque recusandae porro saepe inventore!
                <br><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis blanditiis minus itaque saepe quisquam, cumque tempore, debitis odio recusandae facilis labore. Molestiae soluta aspernatur, perspiciatis, laudantium dolore ad recusandae, veniam dignissimos exercitationem facere eos ut? Odio, quasi rem hic nam id aperiam ipsum, quidem, libero perspiciatis natus numquam amet unde minima adipisci pariatur vero veniam. Illum debitis iure omnis animi eius minima provident repellendus veniam ratione, at aspernatur facere!
                <br><br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo vitae odit, ullam impedit minus sint culpa facilis. Ullam adipisci eos incidunt repudiandae qui, quo aperiam ratione odio nemo sed! Odit fuga doloribus ab numquam temporibus saepe provident optio quod ad velit quo pariatur nemo, cumque assumenda eaque architecto fugit iure odio unde sint. Ducimus harum quam modi tempora eius eveniet labore, aliquid ipsa ullam dicta placeat officiis. Accusamus eveniet porro explicabo, expedita quod ad voluptas.
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates temporibus sequi commodi, debitis sunt natus unde cumque saepe ut repellat, expedita ex corporis architecto quidem, esse hic quia nemo ipsam facere sed deserunt soluta consequatur? Consequatur voluptates, dolores repellendus sint possimus reprehenderit, totam nam tenetur cumque recusandae porro saepe inventore!
                <br><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores veritatis blanditiis minus itaque saepe quisquam, cumque tempore, debitis odio recusandae facilis labore. Molestiae soluta aspernatur, perspiciatis, laudantium dolore ad recusandae, veniam dignissimos exercitationem facere eos ut? Odio, quasi rem hic nam id aperiam ipsum, quidem, libero perspiciatis natus numquam amet unde minima adipisci pariatur vero veniam. Illum debitis iure omnis animi eius minima provident repellendus veniam ratione, at aspernatur facere!
            </div>
        </div>
    </section>
</body>
</html>