<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>

    <link rel="stylesheet" href="../styles/modal.css">
</head>
<body>
    <div class="main">
      <div class="modal_window">
         <div class="modal_title">
              <h3>Модальное окно</h3>
         </div>
        <div class="modal_text">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum adipisci dolorum ab, odit nulla voluptate sapiente nostrum rem voluptas ducimus, mollitia corporis in non! Veniam eum unde delectus ullam.</p>
        </div>
        <div class="button">
           <button class="button1">Принять</button>
        </div>
        <div class="button">
           <button class="button2">Отмена</button>
        </div>
     </div>
     <div class="button_close">
        <a href="#" class="close">×</a>
     </div>
       <div class="section">
            <div class="container">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. At architecto optio, aliquam saepe, animi nesciunt eligendi enim officia hic, exercitationem nisi odio quis. Accusamus quo perferendis saepe voluptatibus nobis dolorem ut facere laudantium repudiandae quas dicta nostrum omnis explicabo facilis, dignissimos quidem ullam. Dicta quisquam tempore incidunt. Atque, veritatis est quo ullam maiores sed, iure voluptate ipsum magnam consequatur dolorem corrupti molestias ad error expedita aliquam nemo asperiores alias tempore!
                  <br><br>
            </div>
        </div>
    </div>
</body>
</html>