.square {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
}

.square1,
.square2,
.square3 {
    width: 100px;
    height: 100px;
}

.square1 {
    border: 2px solid red;
}

.square2 {
    position: absolute;
    margin-left: 60px;
    margin-top: -42px;
    
    border: 2px solid blue;
}

.square3 {
    position: absolute;
    margin-left: 120px;
    margin-top: 20px;
    
    border: 2px solid green;
}